body {
    background-color: aliceblue;
}

#page-container {
    position: absolute;
    height: 90%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#game-container {
    height: inherit;
}

#game-window {
    border: 5px solid darkslategray;
    padding: 0;
}

#stats-window {
    border-top: 5px solid darkslategray;
    border-right: 5px solid darkslategray;
    border-bottom: 5px solid darkslategray;
    margin: 0;
}

#stats, #lives-left, #rules-and-credits, #info-icon{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#lives-left, #info-icon, #credits {
    cursor: pointer;
}

#info-icon {
    width: 64px;
}